@import './_override.scss';

@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';

@import 'primeflex/src/_variables.scss';
@import 'primeflex/src/_grid.scss';
@import 'primeflex/src/_formlayout.scss';
@import 'primeflex/src/_display.scss';
@import 'primeflex/src/_text.scss';
@import 'primeflex/src/flexbox/_flexbox.scss';
@import 'primeflex/src/_spacing.scss';
@import 'primeflex/src/_elevation.scss';

:root {
  /* Colors */
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-hover: rgba(41, 120, 173, 0.5);
  --color-brand: #57bd84;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-primary: #ebdbb2;
  --color-theme: #2978ad;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  /* Trans */
  --dur: 0.3s;
  --rad: 0.7rem;
  --transition-speed: 600ms;
  font-size: 1.5rem;
  font-family: 'Open Sans';
}

body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-white);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem1;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  color: var(--text-secondary);
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-360deg);
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #77155e; //var(--bg-primary);
  transition: width 200ms ease;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.link-text {
  display: none;
  margin-left: 1rem;
}
.nav-link {
  display: flex;
  align-items: center;

  height: 2rem;
  color: black;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link i {
  align-items: center;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color: #ff7eee;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.nav-link:hover i {
  color: #df49a6;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 13rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo i {
    margin-left: 8rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}

.container {
  display: flex; /* or inline-flex */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.item {
  flex-grow: 12; /* default 0 */
}

input[type='search'] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type='search']:focus {
  width: 80%;
}

.go {
  height: 100%;
  padding-right: 0px;
}

.search-engine {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  background: var(--color-brand);
  /*  border-radius: var(--rad); */
  flex-direction: row;
  /* This bit draws the box around it */
  border: 4px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding: 2px;
}
